.error-text,
.welcome-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.output-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
